@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  background-color: #f1f1f1;
}

html {
  font-family: Muller, sans-serif;
}

.container {
  max-width: 1170px;
  margin-right: 375px;
  margin-left: 375px;
}


/* header */

.header {
  height: 154px;
  margin-top: 30px;
}

.top-header {
  display: flex;
  align-items: center;
  min-height: 54px;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  color: #666666;
  min-width: 173px;

}

.header-link {
  display: flex;
  margin-left: auto;
  color: #cc9933;
  align-items: center;
}

.header-link-icon {
  display: inline-block;
  background: url(/images/arrow.svg);
  width: 24px;
  height: 24px;
  margin-right: 3px;
  transform: translateY(-2px);
}

.header-nav-lists {
  display: flex;
  margin-top: 30px;
  align-items: center;
  text-wrap: nowrap;
  background-color: #ffffff;
  min-height: 70px;
  border-radius: 15px;
}

.header-nav-left-list {
  display: flex;
  padding-left:45px;
  gap: 45px;
}

.header-nav-left-link {
  color:#666666;
}

.header-nav-right-list {
  margin-left: 114px;
  display: flex;
  /*  */
}

.header-nav-right-item {
  margin-right: 45px;
}

.header-nav-btn {
  padding: 13px 20px;
  text-wrap: nowrap;
  border-radius: 10px;
  border: 1px solid #cc9933;
  color: #cc9933;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
}

/* offer */

.offer {
  margin-top: 70px;
}

.section-heading {
  font-size: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333333;
}

.card-offer {
  display: flex;
  gap: 24px;
}

.offer-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  max-width: 570px;
}

.offer-left-item {
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  min-height: 258px;
}

.offer-card-heading{
  padding-left: 45px;
  padding-top: 40px;
  font-size: 40px;
  margin-bottom: 15px;
  line-height: 1;
  text-wrap: wrap;
  font-weight: 700;
  max-width: 300px;
}

.arrow-icon {
  display: inline-block;
  background-image: url(/images/arrow-btn.svg);
  width: 15px;
  height: 17px;
  background-repeat: no-repeat;
  transform: translateY(3px) translateX(4px);

}

.offer-price{ 
  padding-left: 45px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
}

.offer-link {
  color: #F0BF5F;
  padding-left: 45px;
  margin-top: 47px;
}


.offer-right {
  flex-grow: 1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 543px;
  border-radius: 15px;
}

.offer-right-link{
  color: #F0BF5F;
}

.offer-right-heading {
  font-size: 60px;
  padding-top: 212px;
  padding-left: 45px;
  max-width: 299px;
  margin-bottom: 15px;
}

.right-price {
  padding-left: 45px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 47px;
}

.offer-right-link {
  padding-left: 45px;
  padding-bottom: 40px;
}

.island {
  background-image: url(/images/island.png);
}

.krit {
  background-image: url(/images/krit.png);
}

.lux {
  background-image: url(/images/lux.png);

}
/* about */

.section-about{
  margin-top: 46px;
  margin-bottom: 70px;
  line-height: 200%;
}

/* services */

.section-services{
  margin-bottom: 70px;
}

.section-services-list {
  display: flex;
  flex-wrap: wrap;
}

.section-services-card {
  flex: 1 1 47%;           /* фиксируем ширину карточки на 50% */
  box-sizing: border-box; /* учитываем padding внутрь */
  background: #f5f5f5;
  margin-bottom: 24px;
}

.services-card-bottom-link {
  font-weight: 800;
  line-height: 200%;
}

.services-card-bottom-description{
  line-height: 200%;
}

.section-services-card:not(:nth-child(2n)) {
  margin-right: 20px;
}


/* advantages */

.advantages {
  margin-bottom: 70px;
}

.section-advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.section-advantages-item {
  box-sizing: border-box;
  /* flex: 0 0 22%; */
  line-height: 200%;
  margin-bottom: 20px;
  
}

.section-advantages-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

/* layout */

.layout {
  margin-bottom: 70px;
}

.layout-list {
  display: flex;
  flex-wrap: wrap;
}

.layout-item {
  flex : 0 0 30%;
  margin-bottom: 24px;
}

.layout-item-img {
  margin-bottom: 32px;
}

.layout-item-name {
  margin-bottom: 16px;
}

.layout-item-location {
  margin-bottom: 20px;
}

.layout-item-link-btn {
  padding: 13px 20px
}

.layout-item-rent {
  margin-bottom: 16px;
}

.star-cont {
  margin-bottom: 16px;
}

.layout-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

/* tour */

.tour-form-list {
  display:flex ;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
}

.select-row {
  display: block;
  margin-top: 15px;
}

.section-tour {
  margin-bottom: 70px;
}


/* contacts */


